{% extends "admin/delete_selected_confirmation.html" %}
{% load i18n l10n %}

{% block object-tools %}{% endblock %}

{% block content %}
<div id="content-main">  
<p>{% blocktrans %}Are you sure you want to hard delete the selected {{ objects_name }}?{% endblocktrans %}</p>
{% include "admin/includes/object_delete_summary.html" %}
<form action="" method="post">{% csrf_token %}
  <div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}

    <h2>{% translate "Objects" %}</h2>
    {% for deletable_object in deletable_objects %}
      <ul>{{ deletable_object|unordered_list }}</ul>
    {% endfor %}

    <p>{% blocktrans %}The following {{ objects_name }} are not soft deleted yet and cannot be hard deleted. {% endblocktrans %}</p>
    <ul>{{ undeleted_queryset|unordered_list }}</ul>

    <input type="hidden" name="action" value="hard_delete" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    <a href="#" class="button cancel-link">{% translate "No, take me back" %}</a>
  </div>
</form>
</div>
{% endblock %}