# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests_python:
    name: Test on Python ${{ matrix.python_version }} and Django ${{ matrix.django_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        django_version: [ '2.2', '3.0', '3.1' ]
        python_version: [ '3.5', '3.6', '3.7', '3.8', '3.9' ]
        exclude:

          - django_version: '3.0'
            python_version: '3.5'

          - django_version: '3.1'
            python_version: '3.5'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ matrix.django_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install -U flake8 coveralls argparse
        pip install -U Django~=${{ matrix.django_version }}
    - name: Lint with flake8
      run: |
        flake8 --ignore=E501,W504 safedelete
    - name: Test Django
      if: matrix.django_version != '1.11'
      run: |
        python -W error::DeprecationWarning -W error::PendingDeprecationWarning \
          -m coverage run `which django-admin` test --settings=safedelete.tests.settings
    - name: Coverage
      if: ${{ success() }}
      run: |
        coveralls
